.main {
    height: 350px;
    width: 690px;
    background-color: #f1f1f1;
    margin: auto;
}
.words {
    height: 300px;
    width: 250px;
    float: left;
    margin: 10px 0 0 30px;
}
.section {
    height: 300px;
    width: 360px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
p {
    margin: 0;
    padding-bottom: 12px;
    padding-left: 100px;
    float: right;
    font-weight: bold;
}
input {
    margin-bottom: 8px;
}
input[type=button] {
    border-radius: 2px;
    border: none;
    height: 30px;
    width: 60px;
    margin-left: 295px;
    margin-top: 2px;
}